:root {
    --cursorX: 50vw;
    --cursorY: 50vh;
    --astroX: 50vw;
    --astroY: 50vh;
    overflow: hidden;
}


#flashlightHolderInside {
    mix-blend-mode: hard-light;
    position: absolute;
    top: 0;
    margin-left: calc(calc(100vw - calc(100vh * 1.78)) / 2);
    width: calc(100vh * 1.78);
    height: 100vh;
    background-color: black;
}

.flashlight {
    border-radius: 50%;
    filter: blur(40px);
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(var(--cursorY) - 100px);
    left: calc(var(--cursorX) - 200px);
    background-color: gray;
}

.flashlight {
    border-radius: 50%;
    filter: blur(10px);
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(var(--cursorY) - 100px);
    left: calc(var(--cursorX) - 200px);
    background-color: gray;
}
