:root {
    --cursorX: 50vw;
    --cursorY: 50vh;
}

#flashlightHolder {
    height: 100vh !important;
    width: calc(100vh * 1.78);
    margin: auto;
    text-align: center;
    cursor: none;
}

#flashlightHolder:before {
    content: 'asdfasdf';
    display: block;
    width: calc(100vh * 1.78);
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(circle 10vmax at var(--cursorX) var(--cursorY),
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, .5) 80%,
            rgba(0, 0, 0, 1) 100%)
}
